.un{
border: 1px black solid;
background-color: #FFFF99;
}

.deux{
border: 1px black solid;
background-color: #663366;}


.trois{
border: 1px black solid;
background-color: #00FFFF;
}

.quatre{
border: 1px black solid;
background-color: red;
}

.cinq{
border: 1px black solid;
background-color: yellow;
}

.six{
border: 1px black solid;
background-color: gray;
}

.sept{
border: 1px black solid;
background-color: green;
}

.huit{
border: 1px black solid;
background-color: violet;
}

.neuf{
border: 1px black solid;
background-color: blue;
}
.dix{
border: 1px black solid;
background-color: #9900FF;
}

.onze{
border: 1px black solid;
background-color: #CCFFCC;

}


.douze{
border: 1px black solid;
background-color: green;
}
